body {
    font-family: 'Sriracha', cursive, sans-serif;
}

.container {
    padding-top: 100px;
}

.card {
    background-color: #ffcccc;
    border-radius: 30px;
}

.card-body {
    border-radius: 30px;
}

.img-fluid {
    border-radius: 50%;
}

.btn-outline-secondary {
    color: #993366;
    border-color: #993366;
    border-radius: 20px;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #993366;
    border-color: #993366;
}

.progress-bar {
    background-color: #993366;
}

.list-group-item {
    background-color: #ffcccc;
    border: none;
    border-radius: 20px;
}

.list-group-item:hover {
    background-color: #993366;
    color: #fff;
    border-radius: 20px;
}

.track {
    color: #993366;
}

.track:hover {
    color: #fff;
}

.play-btn {
    margin-left: 10px;
}

#audioPlayer {
    display: none;
}

body {
  font-family: 'Sriracha', cursive, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("Fotoram.io.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
body {
  font-family: 'Sriracha', cursive, sans-serif;
}

.card-body {
  border-radius: 30px;
  background-color: rgba(255, 204, 204, 0.8); /* ปรับค่าสีพื้นหลังของกรอบเพลง */
}

.play-btn {
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.5); /* ปรับค่าสีพื้นหลังของปุ่มเพลง */
}
